Background
codelib.o
codesearch-dense-1d.o
codesearch-sparse.o
codesearch-sparse
codesearch-dense-1d
codespeed
ls
nauty/NRswitchg
nauty/addedgeg
nauty/amtog
nauty/biplabg
nauty/catg
nauty/complg
nauty/config.log
nauty/copyg
nauty/countg
nauty/deledgeg
nauty/directg
nauty/dretog
nauty/genbg
nauty/geng
nauty/genrang
nauty/labelg
nauty/listg
nauty/multig
nauty/newedgeg
nauty/pickg
nauty/planarg
nauty/shortg
nauty/showg
callgrind.out.23753
callgrind.out.23763
callgrind.out.24002
callgrind.out.24019
callgrind.out.24039
callgrind.out.24072
nauty/dreadnaut
nauty/config.status
hexagons-1.ps
hexagons.ps
print.ps
nauty/gtools.h
codescan
codecheck
codescan_4
codecheck
codescan_5
codecheck
codescan_6
sync-to-bitslayer.sh
codesearch
codescan_7plan
codescan_8plan
.DS_Store
Automorphisms.hi
AutomorphismsTests.hi
AutomorphismsTests
Permutations.hi
PermutationsTests
PermutationsTests.hi
codescan_4.out
codescan_5.out
codescan_6.out
codescan_7plan.out
out
out6A
CodeDraw.hi
CodeGraph.hi
CodeReader.hi
Permutations.hi
PermutationsTests.hi
Quantum.hi
ShowCode.hi
hello.hi
hello2.hi
hello3.hi
a.out
ShowCode
ScanTest
CodeDraw.hi
CodeGraph.hi
CodeReader.hi
CodeScanner.hi
FFITest.hi
Permutations.hi
PermutationsTests.hi
Quantum.hi
ScanTest.hi
ShowCode.hi
hello.hi
hello2.hi
hello3.hi
CodeDraw.o
CodeGraph.o
CodeReader.o
CodeScanner.o
FFITest.o
Permutations.o
PermutationsTests.o
Quantum.o
ScanTest.o
ShowCode.o
codelib.o
codescan.o
codesearch-dense-1d.o
codesearch-sparse.o
codesearch.o
hello.o
hello2.o
hello3.o
CodeDraw.hi
CodeGraph.hi
CodeReader.hi
CodeScanner.hi
CountCombinations.hi
DrawCode.hi
FFITest.hi
Permutations.hi
PermutationsTests.hi
Quantum.hi
ScanCodes.hi
ScanTest.hi
ShowCode.hi
hello.hi
hello2.hi
hello3.hi
ScanCodes
CountCombinations
DrawCode
CodeDraw.hi
CodeGraph.hi
CodeReader.hi
CodeScanner.hi
CountCombinations.hi
DrawCode.hi
FFITest.hi
MakeCondor.hi
Permutations.hi
PermutationsTests.hi
Quantum.hi
ScanCodes.hi
ShowCode.hi
combg.hi
hello.hi
hello2.hi
hello3.hi
combg
MakeCondor
ChooseRandomGraphs.hi
CodeGraph.hi
CodeScanner.hi
CountCombinations.hi
FilterCompletedGraphs.hi
Permutations.hi
QuantumDatabaseUtils.hi
ScanCodes.hi
FilterCompletedGraphs
ChooseRandomGraphs
codequery
config.log
.sconf_temp
.sconsign.dblite
codequery.conf
CodeQuery-working.leo
testing/randomized-tests
build
src/codequery-dense-1d.o
src/codequery-sparse.o
src/codequery.o
testing/randomized-tests.o