*.o
*.a
*.pyc
programs
test
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
tests/test
tests/test-minimizer
tests/test-minimizer-dynamic
tests/test-minimizer-static
tests/test-solver
tests/test-solver-dynamic
tests/test-solver-static